* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: transparent;
  transition: width 0.4s ease, background-color 0.3s ease;
  -webkit-transition: width 0.4s ease, background-color 0.3s ease;
  -moz-transition: width 0.4s ease, background-color 0.3s ease;
  -ms-transition: width 0.4s ease, background-color 0.3s ease;
  -o-transition: width 0.4s ease, background-color 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  background-color: white;
}

.nav-link.active::after {
  background-color: white;
  text-decoration: underline;
  width: 100%;
}
